<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Topic" value="TestName"/>
    <add key="Email" value="Test EMail"/>
    <add key="PhoneNumber" value="375298355422"/>
    <add key="MessageText" value="Test message"/>
    <add key="User.EMail" value="test.epam.eg@mail.ru"/>
    <add key="User.EMail.Incorrect" value="incorrecttestepam@mailru"/>
    <add key="User.Password" value="Pa$$w0rd"/>
    <add key="User.Password.Incorrect" value="incPa$$w0rd"/>
    <add key="User.Name" value="TestUser"/>
    <add key="User.PhoneNumber" value="375298355422"/>
    <add key="User.PhoneNumber.Incorrect" value="incorrectt2"/>
    <add key="User.StartCountry" value="Belarus"/>
    <add key="User.EndCountry" value="Moscow"/>
    <add key="User.Weight" value="1000"/>
    <add key="User.Size" value="20x20x20"/>
  </appSettings>
</configuration>